@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins);
  --font-play-fair: var(--font-playFair);
  --font-kanit: var(--font-kanit);
  --font-montserrat: var(--font-montserrat);

  --color-neutral-dark-400: #3b3630;
  --color-neutral-dark-500: #2e2a25;
  --color-neutral-dark-600: #25221e;
  --color-neutral-dark-650: #231f1b;
  --color-neutral-dark-700: #1f1c19;
  --color-neutral-dark-800: #181512;
  --color-neutral-dark-900: #0e0d0b;

  --color-black-300: #2f2f2f;
  --color-black-400: #212121;
  --color-black-450: #1c1c1c;
  --color-black-500: #161616;
  --color-black-550: #141414;
  --color-black-600: #121212;
  --color-black-700: #101010;
  --color-black-800: #0a0a0a;
  --color-black-900: #000000;
  --color-black: #000000;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.inputForm {
  @apply px-3 py-2 mt-auto *:bg-black outline-hidden text-lg md:text-xl duration-200 hover:bg-black/55 disabled:animate-pulse disabled:bg-white text-white rounded-md appearance-none;
}
.form {
  @apply mb-7 bg-linear-to-b from-[#1f1e1a] to-transparent backdrop-blur-sm w-full flex text-center h-full
  flex-col pt-10 px-8 text-white gap-4 max-w-[450px] min-[450px]:h-[600px] min-[450px]:rounded-lg overflow-clip justify-center md:text-xl md:max-w-[550px];
}
.formPage {
  @apply w-full bg-black h-full bg-no-repeat! relative bg-cover! bg-center! flex items-center justify-center
  flex-col;
  background-image: "/musicBg.jpg";
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #1c160a;
}

.spinner {
  @apply self-center size-7 rounded-full relative border-2 border-black-300 border-t-orange-500 animate-spin;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 0px;
  width: 0px;
  background: #ffffff;
  border-radius: 50%;
  transition-duration: 150ms;
}

input.rangeOrange[type="range"]::-webkit-slider-thumb {
  background: #ff841f;
}

input[type="range"]:hover::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
}

.bg-music {
  background-image: url("/musicBg.jpg");
}
