@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.inputForm {
  @apply px-3 py-2 mt-auto *:bg-black outline-none text-lg md:text-xl duration-200 hover:bg-opacity-55 
   hover:border-opacity-80 focus:border-opacity-100  disabled:animate-pulse disabled:bg-white disabled:bg-opacity-15 text-white rounded-md appearance-none;
}
.form {
  @apply mb-7 bg-gradient-to-b from-[#1f1e1a] to-transparent backdrop-blur w-full flex text-center h-full
  flex-col pt-10 px-8 text-white gap-4 max-w-[450px] min-[450px]:h-[600px] min-[450px]:rounded-lg overflow-clip justify-center md:text-xl md:max-w-[550px];
}
.formPage {
  @apply w-full bg-black h-full bg-music !bg-no-repeat relative !bg-cover !bg-center flex items-center justify-center
  flex-col;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #1c160a;
}

.spinner {
  @apply self-center size-7 rounded-full relative border-2 border-black-300 border-t-orange-500 animate-spin;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 0px;
  width: 0px;
  background: #ffffff;
  border-radius: 50%;
  transition-duration: 150ms;
}

input.rangeOrange[type="range"]::-webkit-slider-thumb {
  background: #ff841f;
}

input[type="range"]:hover::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
}

.bg-music {
  background-image: url("/musicBg.jpg");
}
